/*Estilo para a parte do nav fixed */

.atendi{
    margin-left: 648px; 
    font-size: 12px;
}

.rectangle_2 {
    width: 80px;
    height: 35px;
    object-fit: contain;
    opacity: 1;
    border: solid 2px #cdcdcd;
    font-size: 12px;
    margin-left: 15%;
}

.rectangle_conta {
    width: 131.1px;
    height: 35px;
    object-fit: contain;
    opacity: 0.8;
    background-color: #1ca6df;
    font-size: 12px;
    color: #FFF;
    margin-left: 20%;
}

header{
    position: fixed;
    z-index: auto;
    background-color: #FFF;
    width: 1920px;
    padding: 1% 0 1.1% 394px; 
}

.menu {
    font-size: 18px;
}


/* estilo para o banner */

#banner .fundo{
    padding-top: 4.7%;
    position: absolute;
    z-index: -1;
    width: 1920px;
    height: 660px;

}

#banner .texto h1{
    width: 551px;
    height: 100px;
    padding-top: 1%;
}

#banner .texto p{
    margin: 3% 0 9.4% 0;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
}

#banner .texto{
    padding: 9.4% 0 3.5% 20.5%;
    color: #FFF;
    font-size: 50px;
}

/* estilo para os motivos*/

#motivos .motivoAtencao{
    width: 275px;
    padding: 8% 0 10% 0;
    height: 35px;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.25;
    color: #0775b7;
}
#motivos .motivoTexto{
    width: 237px;
    height: 90px;
    font-size: 18px;
    
}
#motivos h1{
    width: 800px;
    margin-bottom: 6%;;
    height: 45px;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4a4a4a;
}

#motivos .mot{
    line-height: 1.67;
    color: #7a7a7a;
    height: 90px;
    margin-left: 3%;
}

#motivos{
    padding: 0 20.5% 1.5% 20.5%;
    width: 100%;
    margin-bottom: 10%; 
}

/* estilo das vantagens */

#vantagens .pessoa{
    width: 771px;
    height: 510px;
    margin: 45px 0 10% 212.1px;;
    position: absolute;
    z-index: 1;
}

#vantagens .fundo{
    width: 258px;
    height: 600px;
    position: absolute;
    z-index: 0;
}

#vantagens .vantagensAtencao{
    width: 437px;
    height: 90px;
    padding-top: 7%;
    color: #00ae99;
    margin-left: 62%;
}

#vantagens .vantagensTexto{
    margin-left: 62%;
    padding-top: 5.5%;
    font-size: 18px;  
}

#vantagens .vejaVantagens{
    margin-left: 62%;
    padding-top: 2.5%;
}

#vantagens{
    width: 1920px;
    height: 600px;
    background-color: #eeeeee;
    display: block;
}

#anuncio .iconeLoja{
    margin: 16% 0 0 250%;
}

#anuncio{
    width: 1920px;
    height: 286px;
    background-color: #0074ba;
    padding: 5% 0 0 22%;
    color: #FFF;
    line-height: 1.13;
}

footer .iconeSocial{
    padding-left: 760px;
    margin-bottom: 50px;
}
footer .rodape .termo{
    margin-left: 918px;
}

footer .rodape a:visited {
    color: #465152;
}

footer{
    z-index: auto;
    background-color: #FFF;
    width: 1920px;
    padding: 1% 0 0 394px; 
}



.testeDesk{
    width: 1920px;
    height: 2308px;
    background-color: #ffffff;
    font-family: Lato-Light, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-size: 12px;
    color: #465152;
    line-height: 1.67;
}
